.contener{
        width: 300px;
}
body{
    display: flexbox;
    height: 100vh;
    justify-items: center;
    align-items: center;
    left: 50%;
    right: auto;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
     background: linear-gradient(135deg, #998aa8, #aeb2b9);
     background-image: url(https://i.pinimg.com/originals/72/99/2a/72992a41f68ee2816b1961d47df8e353.gif);
}
fieldset {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(75, 155, 59, 0.2);
    background-color: #d8ddc3;
    background-image: url(https://gifdb.com/images/high/4k-anime-498-x-280-gif-lpvb2vnfrirflkzs.gif);
}
input[type="reset"] {
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
input[type="submit"] {
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
     background-color: #bedfbf;
    color: white;
    transition: 0.3s;
}
input[type="password"]:focus {
    border-color: #2575fc;
    box-shadow: 0 0 8px rgba(37, 117, 252, 0.5);
    outline: none;}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
     background-color: #bedfbf;
    color: white;
    transition: 0.3s;
}
legend{
     font-size: 1.5em;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 0 10px;
}
label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="reset"] {
    background-color: #f44336;
    color: white;
}

input[type="reset"]:hover {
    background-color: #d73833;
}
